* {
    font-family: sans-serif;
}

body {
    background: #F5F5F5;
    color: #2E2E2E;
    margin: 0 20px;

}

.headerbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    z-index: 1000;
}

.menu {
    position: relative;
    left: 10px;
    font-size: 28px;
    cursor: pointer;
    transition: 0.7s ease;
}

.menu:hover {
    color: rgb(67, 67, 67);

}

.sidebar{
    position: fixed;
    background-color: #5A9BD5;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    z-index: 1001;
    overflow-y: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

}
.title{
    margin-bottom: 100px;
    background-color: #5A9BD5;
    border: 3px solid;
    border-color: #F5F5F5;
    padding: 20px 36px;
    margin: 0 auto;
    border-radius: 12px;
    color: white;

}
.title p{
    font-size: 20px;
    font-weight: 600;
}
.pages{
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
    cursor: pointer;
}

.option{
    transition: 0.5s ease-out;
    padding: 10px;
    display: flex;
    text-decoration: none;
    gap: 12px;
    color: white;
}

.option i{
    margin-top: 18px;
}
.option:hover{
    color: #2E2E2E;
    background-color: #a6a6a6;
}

.section-header {
    margin-top: 50px;
    margin-left: calc(25% + 20px);
    font-size: 25px;
    font-weight: 700;
}

.dashboard-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 25%;

}
.dashboard-summary {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.dashboard-box {
    flex: 1 1 150px;
    background-color: #FFFFFF;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.icons-total{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

table {
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(255, 253, 253);
    border-radius: 12px;
    color: rgb(0, 0, 0);
    width: 100%;
    min-width: 650px;
    border-collapse: collapse;
    overflow: hidden;

}
table a{
    color: white;
}

th,
tr,
td {
    gap: 5px;
    background: rgb(205, 204, 204)
}

.delete-btn {
    margin: 0 auto;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 12px;
}
.update-btn {
    margin: 0 auto;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
}


.operation-status {
    background-color: #FFFFFF;
    padding: 35px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 16px;
    overflow-y: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.status-selections{
    display: flex;
    gap: 10px;
    
}
.status-selections p {
    transition: 0.5s ease;
    cursor: pointer;

}

.status-selections p:hover {
    color: #a6a6a6;
}

.status-container {
    background: #F5F5F5;
    margin: 0 auto;
    width: 70%;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}



@media (max-width: 480px) {
    .dashboard-header {
        font-size: 16px;
    }

    .section-header{
        margin-top: 70px;
        margin-left: 0;
    }
    .dashboard-content{
        margin-left: 0;
    }
    .menu{
        font-size: 20px;
    }
    .sidebar{
        width: 70%;
        left: -70%;
        transition: 0.5s ease;
    }
    .sidebar.show{
        left: 0;
    }
    .title p{
        font-size: 18px;
    }
    .option p{
        font-size: 15px;
    }
    .option i{
        margin-top: 15px;
    }
}