* {
    font-family: sans-serif;
}

body {
    background: linear-gradient(90deg, #a6a6a6, #ffffff);
    color: white;
    margin: 0 20px;

}


/* form add transaction */

.displayaddtransac {
    position: fixed;
    left: 50%;
    top: -200px;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 28px;
    transition: 0.5s ease-in-out;


}

.displayaddtransac.show {
    top: 50%;

}

.displayaddtransac p {
    font-size: 18px;
    font-weight: 600;

}





input {
    margin-bottom: 20px;
}

input[type="submit"] {
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(90deg, #a6a6a6, #ffffff);
    border: 1px solid white;
    border-radius: 29px;
}

select {
    padding: 10px;
}


.headerbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    z-index: 1000;
}

.menu {
    position: relative;
    left: 10px;
    font-size: 28px;
    cursor: pointer;
    transition: 0.7s ease;
}

.menu:hover {
    color: black;
}

.sidebar{
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    z-index: 1001;
    overflow-y: auto;
}
.title{
    margin-bottom: 100px;
    background-color: aliceblue;
    padding: 20px 86px;
    margin: 0 auto;

}
.title p{
    font-size: clamp(12px, 2vw, 20px);
}
.pages{
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    cursor: pointer;
}

.option{
    transition: 0.5s ease-out;
    padding: 20px;
    display: flex;
    gap: 12px;
}
.option i{
    margin-top: 18px;
}
.option:hover{
    background-color: #a6a6a6;

}



.section-header {
    margin-top: 100px;
    margin-left: calc(25% + 20px);
    font-size: 25px;
    font-weight: 700;
}


.dashboard-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 25%;

}
.dashboard-summary {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.dashboard-box {
    flex: 1 1 150px;
    background-color: black;
    border-radius: 16px;
    text-align: center;

}
.icons-total{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.table-dashboard {
    flex: 1 1 500px;
    background-color: black;
    border-radius: 16px;
    height: 400px;
    overflow-x: auto;
    padding: 10px;
}


table {
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(255, 253, 253);
    border-radius: 12px;
    color: rgb(0, 0, 0);
    width: 100%;
    min-width: 650px;
    border-collapse: collapse;
    overflow: hidden;

}

th,
tr,
td {
    gap: 5px;
    background: rgb(205, 204, 204)
}

.delete-btn {
    margin: 0 auto;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 12px;
}
.update-btn {
    margin: 0 auto;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
}


.operation-status {
    background-color: rgb(0, 0, 0);
    padding: 35px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 16px;
    box-shadow: -10px 10px 10px rgb(79, 73, 73);
    overflow-y: auto;
}

.status-selections p {
    transition: 0.5s ease;
    cursor: pointer;

}

.status-selections p:hover {
    color: #a6a6a6;
}

.status-container {
    background: linear-gradient(90deg, #a6a6a6, #ffffff);
    margin: 0 auto;
    width: 70%;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    color: black;
    margin-bottom: 12px;
}



@media (max-width: 480px) {
    .dashboard-header {
        font-size: 16px;
    }

    .section-header{
        margin-left: 0;
    }
    .dashboard-content{
        margin-left: 0;
    }
    .menu{
        font-size: 20px;
    }
    .sidebar{
        width: 50%;
        left: -50%;
        transition: 0.5s ease;
    }
    .sidebar.show{
        left: 0;
    }
}