*{
    font-family: sans-serif;
}
body{
    background: linear-gradient(90deg, #a6a6a6, #ffffff);
    color: white;
    margin: 0 30px;

}
.headerbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-weight: 500;
    z-index: 9999;
}
.title{
    position: relative;
    left: 10px;
    font-size: 18px;
}
.navbar{
    position: relative;
    display: flex;
    font-size: 18px;
    gap: 100px;

}
@media(max-width: 480px){
    .navbar{
        gap: 10px;
        font-size: 10px;
    }
    .title{
        font-size: 10px;
    }
  
}

.profile{
    position: relative;
    right: 25px;
    font-size: 10px;
    background-color: 2px solid transparent;
    background-color: black;
    padding: 5px;
    border-radius: 50px;

}
.dashboard-header{
    margin-top: 100px;
    font-size: 25px;
    font-weight: 700;
}
@media (max-width: 480px){
    .dashboard-header{
        font-size: 16px;
    }
}
.dashboard-content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
.dashboard-summary{
      display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 400px;
}
@media (max-width: 480px){
    .dashboard-summary{
        flex-direction: column;
    }
    .dashboard-summary,
    .table-dashboard{
        flex: 1 1 100%;
        width: 100%;
    }
  
}
.dashboard-box{
    flex: 1 1 150px;
    background-color: black;
    border-radius: 16px;
    text-align: center;

}
.table-dashboard{
    flex: 1 1;
    background-color: black;
    border-radius: 16px;
    height: 300px;
    overflow-x: auto;
    padding: 10px;
}
@media(max-width: 480px){
    .title_table{
        font-size: 18px;
    }
}
table{
    display: table;
    justify-content: center;
    border: 5px solid rgb(13, 13, 13);
    background-color: rgb(255, 253, 253);
    color: rgb(0, 0, 0);
    width: 100%;
    min-width: 650px;
    border-collapse: collapse;


}
th{
    gap: 5px;
}
.displayaddtransac{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #c25c5c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}
form{
    justify-content: center;
    
}