* {
    font-family: sans-serif;
}

body {
    background: linear-gradient(90deg, #8f8c8c, #1a1a1a);
    color: white;
    margin: 0 20px;

}

.headerbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    z-index: 1000;
}

.menu {
    position: relative;
    left: 10px;
    font-size: 28px;
    cursor: pointer;
    transition: 0.7s ease;
}

.menu:hover {
    color: rgb(67, 67, 67);
}


.sidebar{
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    z-index: 1001;
    overflow-y: auto;
}
.title{
    margin-bottom: 100px;
    background-color: rgb(71, 72, 74);
    padding: 20px 86px;
    margin: 0 auto;

}
.title p{
    font-size: clamp(12px, 2vw, 20px);
}
.pages{
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
    cursor: pointer;
}

.option{
    transition: 0.5s ease-out;
    padding: 10px;
    display: flex;
    text-decoration: none;
    gap: 12px;
    color: white;
}

.option i{
    margin-top: 18px;
}
.option:hover{
    background-color: #a6a6a6;
}



.section-header {
    margin-top: 50px;
    margin-left: calc(25% + 20px);
    font-size: 25px;
    font-weight: 700;
}
.transaction-content{
    margin-left: 25%;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}
.formContainer{
    margin-top: 20px;
    background-color: #000000;
    padding: 20px;
    width: 100%;
    border-radius: 12px;
}
.table-dashboard{
    background-color: #000000;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    flex: 1 1 auto;

}
.table-dashboard a{
    text-decoration: none;
    color: black;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    margin-top: 20px;
}
input[type="text"]{
    margin-bottom: 10px;
}
input[type="submit"]{
    width: 15%;
    padding: 10px;
    margin: 20px auto;
    background: linear-gradient(90deg, #8f8c8c, #1a1a1a);
    border-radius: 12px;
    border: 1px solid white;
    color: white;
    transition: 0.5s ease;
}
input[type="submit"]:hover{
    transform: scale(1.09);
}
table{
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    background-color: white;
    color: black;
    border-radius: 12px;
}
@media (max-width: 480px){
    .transaction-content{
        margin-left: 0;
    }
    .section-header{
        margin-top: 70px;
        margin-left: 0;
    }
    .sidebar{
        width: 50%;
        left: -50%;
        transition: 0.5s ease;
    }
    .sidebar.show{
        left: 0;
    }
    .menu{
        font-size: 20px;
    }
   
}