
body{
    background: linear-gradient(90deg, #a6a6a6, #ffffff);
    font-family: -apple-system, BlinkMacSystemFont, "Segeo UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.title{
    margin: 40px;
    color: white;
    font-size: 22px;
}
.container{
    background-color: black;
    box-shadow: -20px 20px 10px rgb(79, 73, 73);
    margin: 50px auto;
    color: white;
    flex: 1 1 auto;
    min-width: 50px;
    max-width: 600px;
    padding: 50px;
    border-radius: 28px;
}
@media(max-width: 480px) {
    .container{
        width: 180px;
    }
    
}
.container h1{
    display: flex;
    justify-content: center;
    font-weight: 300;
}
.container p{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 5px;
}
input[type="text"]{
    padding: 5px;
    border-radius: 14px;
    border: 1px solid white;
    background: linear-gradient(145deg, #1a1a1a, #222);

}
input[type="text"]:active{
    border: 1px solid transparent;
}
input[type="submit"]{
    margin: 0 auto;
    padding: 10px;
    border-radius: 28px;
    border: 1px solid white;
    transition: 0.5s ease;
    width: 80px;
    background: linear-gradient(145deg, #1a1a1a, #222);
    transition: 0.5s ease-out;
}
input[type="submit"]:hover{
    background-color: #a6a6a6;
    color: black;
    transform: scale(1.1);
}
