* {
    font-family: sans-serif;
}

body {
    background: #F5F5F5;
    color: #2E2E2E;
    margin: 0 20px;

}

.headerbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    z-index: 1000;
}

.menu {
    position: relative;
    left: 10px;
    font-size: 28px;
    cursor: pointer;
    transition: 0.7s ease;
}

.menu:hover {
    color: rgb(67, 67, 67);
}
.sidebar{
    position: fixed;
    background: linear-gradient(135deg, #92400e 0%, #f59e0b 100%);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    z-index: 1001;
    overflow-y: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

}
.title{
    margin-bottom: 100px;
    background: linear-gradient(135deg, #92400e 0%, #f59e0b 100%);
    border: 3px solid;
    border-color: #F5F5F5;
    padding: 20px 36px;
    margin: 0 auto;
    border-radius: 12px;
    color: white;

}
.title p{
    font-size: 20px;
    font-weight: 600;
}
.pages{
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
    cursor: pointer;
}

.option{
    transition: 0.5s ease-out;
    padding: 10px;
    display: flex;
    text-decoration: none;
    gap: 12px;
    color: white;
}

.option i{
    margin-top: 18px;
}
.option:hover{
    color: #000000;
    background-color: #a6a6a6;
}

.section-header {
    margin-top: 50px;
    margin-left: calc(25% + 20px);
    font-size: 25px;
    font-weight: 700;
}
.inventory-content{
    margin-left: 25%;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}
.formContainer{
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    padding: 20px;
    width: 100%;
    border-radius: 12px;
}
.formTitle{
    font-size: 18px;
    font-weight: 700;
}
.table-item{
    background: #FFFFFF;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    overflow-x: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);

}
.table-item{
    font-size: 16px;

}
.table-item a{
    text-decoration: none;
    color: black;
}
.table-title{
    display: flex;
    justify-content: space-between;
    
}
.table-title p{
    font-weight: 500; 
    margin: 20px 50px;
}
.td-actions{
    width: 2000px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    margin-top: 20px;
}

input[type="submit"]{
    width: 15%;
    padding: 10px;
    margin: 20px auto;
    background: #000000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    border: 1px solid white;
    color: white;
    transition: 0.5s ease;
}
input[type="submit"]:hover{
    transform: scale(1.09);
}
table{
    width: 100%;
    background-color: white;
    color: black;
}
td{
    max-width: 150px;
    overflow-x: hidden;
}


@media (max-width: 480px){
    .inventory-content{
        margin-left: 0;
    }
    .section-header{
        margin-top: 70px;
        margin-left: 0;
    }
    .table-item p{
        font-size: 10px;
    }
    .sidebar{
        width: 50%;
        left: -50%;
        transition: 0.5s ease;
    }
    .sidebar.show{
        left: 0;
    }
    .menu{
        font-size: 20px;
    }
    input[type="submit"]{
    width: 40%;
    }
    .update-btn{
        margin-bottom: 20px;
    }
   
}