
*{
    font-family: sans-serif;
}
body{
    color: black;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('../../assets/bg.jpg');
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    image-rendering: pixelated;
}

.title{
    margin: 40px;
    font-size: 22px;
  
}
.title p{
    text-shadow: -4px 6px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    
}
.container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    width: 25%;
    padding: 20px;
    border-radius: 12px;
}

.container h1{
    display: flex;
    justify-content: center;
    font-weight: 600;
    color:#4285f4;
}
.container p{
    display: flex;
    justify-content: center;

}
.container img{
    margin: 0  auto;
}
img{
    width:100px;
    height: 100px;
    border-radius: 50%;
}
form{
    position: relative;
    margin-top: 20%;
    display: flex;
    flex-direction: column;

}
.num-input{
    padding: 14px;
    font-size: 16px;
    border: 1px solid #4e4e4e;
    border-radius: 10px;
    background-color:  #c3dfff;
    outline: none;
    transition: all 0.2s;
}
.num-input:focus{
    border-color: #4285f4;
    border-width: 2px;
}
.num-label{
    position: absolute;
    top: 14px;
    left: 35px;
    color: #4e4e4e;
    pointer-events: none;
    transition: all 0.2s;
    padding: 0 4px;
    text-align: center;
}
.num-input:focus + .num-label,
.num-input:not(:placeholder-shown)
+ .num-label{
    transform: translateY(-24px) scale(0.85);
    color: #4285f4
}
.pass-input{
    padding: 14px;
    font-size: 16px;
    border: 1px solid #4e4e4e;
    border-radius: 10px;
    background-color:  #c3dfff;
    outline: none;
    transition: all 0.2s;
}
.pass-input:focus{
    border-color: #4285f4;
    border-width: 2px;
}
.pass-label{
    position: absolute;
    top: 90px;
    left: 35px;
    color: #4e4e4e;
    pointer-events: none;
    transition: all 0.2s;
    padding: 0 4px;
    text-align: center;
}
.pass-input:focus + .pass-label,
.pass-input:not(:placeholder-shown)
+ .num-label{
    transform: translateY(-24px) scale(0.85);
    color: #4285f4
}
input[type="text"]{
    border: 1px solid white;
    margin: 0 20px;
    border-bottom: 1px solid #a6a6a6;
    background-color: #a6a6a6;
    padding: 10px;
    border-radius: 12px;

}
input[type="text"]:active{
    border: 1px solid transparent;
}
input[type="submit"]{
    margin: 0 auto;
    padding: 10px;
    border-radius: 28px;
    border: 1px solid white;
    transition: 0.5s ease;
    width: 80px;
    transition: 0.5s ease-out;

}
input[type="submit"]:hover{
    background-color: #a6a6a6;
    color: black;
    transform: scale(1.1);

}
@media(max-width: 480px){
    .container{
        width: 80%;
    }
    input[type="text"]{
        margin: 0 auto;
        width: 90%;
    }
}