* {
    font-family: sans-serif;
}

body {
    color: #2E2E2E;
    margin: 0 20px;
    height: 50%;
}
.bg{
    position: fixed;
    z-index: -1;
}
.headerbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    z-index: 1000;
}

.menu {
    position: relative;
    left: 10px;
    font-size: 28px;
    cursor: pointer;
    transition: 0.7s ease;
}

.menu:hover {
    color: rgb(67, 67, 67);
}
.sidebar{
    position: fixed;
    background: linear-gradient(135deg, #92400e 0%, #f59e0b 100%);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    z-index: 1001;
    overflow-y: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

}
.title{
    margin-bottom: 100px;
    background: linear-gradient(135deg, #92400e 0%, #f59e0b 100%);
    border: 3px solid;
    border-color: #F5F5F5;
    padding: 20px 36px;
    margin: 0 auto;
    border-radius: 12px;
    color: white;

}
.title p{
    font-size: 20px;
    font-weight: 600;
}
.pages{
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
    cursor: pointer;
}

.option{
    transition: 0.5s ease-out;
    padding: 10px;
    display: flex;
    text-decoration: none;
    gap: 12px;
    color: white;
}

.option i{
    margin-top: 18px;
}
.option:hover{
    color: #000000;
    background-color: #a6a6a6;
}

.cover-img{
    margin-left: 25%;
    height: 20px;
    
}
.cover-img img{
    height: 250px;
    width: 100%;
    border-radius: 12px;

}
.profile-content{
    margin-left: 25%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.profile-info{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.profile-content img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto;
}
.more-info{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    border-bottom: 2px solid;
}

.more-info p{
    text-align: center;
}


.name{
    font-weight: 700;
    text-transform: uppercase;
}
.user{
     font-weight: 700;
     text-transform: uppercase;
}
.username{
    display: flex;
    gap: 20px;
}
.password{
    display: flex;
    gap: 20px;
}
.pass{ 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
}
.editPass{
    display: flex;
    align-items: center;
    justify-content: center;

}

.fa-pen{
    font-size: 12px;

}


@media (max-width: 480px){
    .profile-content{
        margin-left: 0;
    }
    .section-header{
        margin-top: 70px;
        margin-left: 0;
    }
  
    .sidebar{
        width: 50%;
        left: -50%;
        transition: 0.5s ease;
    }
    .sidebar.show{
        left: 0;
    }
    .menu{
        font-size: 20px;
    }
    .cover-img{
        margin-left: 0;
    }
    .profile-info{
    margin-top: 50%;
    
    }
   
   
}