*{
    font-family: sans-serif;
}
body{
    background: linear-gradient(90deg, #a6a6a6, #ffffff);
}

.title{
    margin: 40px;
    color: white;
    font-size: 22px;
}
.container{
    background-color: black;
    box-shadow: -20px 20px 10px rgb(79, 73, 73);
    margin: 50px auto;
    color: white;
    flex: 1 1 auto;
    min-width: 50px;
    max-width: 600px;
    padding: 50px;
    border-radius: 28px;
}
@media(max-width: 480px) {
    .container{
        width: 180px;
    }
    
}
.container h1{
    display: flex;
    justify-content: center;
}
.container p{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
}
input[type="text"]{
    padding: 5px;
    border-radius: 14px;
    box-shadow: -5px 5px 1px rgb(66, 63, 63);
    border: 1px solid transparent;
    background: linear-gradient(90deg, #a6a6a6, #ffffff);

}
input[type="text"]:active{
    border: 1px solid transparent;
}
input[type="submit"]{
    margin: 0 auto;
    padding: 10px;
    border-radius: 28px;
    border: solid transparent;
    box-shadow: -5px 5px 1px rgb(66, 63, 63);
    transition: 0.5s ease;
    width: 120px;
    background: linear-gradient(90deg, #a6a6a6, #ffffff);
}
input[type="submit"]:hover{
    background-color: #a6a6a6;
    color: black;
}
